*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  
  .box_form {
    margin: 50px auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
  }
  
  @media (max-width: 980px) {
    .box_form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box_form div {
    height: auto;
  }
  .box_form .left {
   width: 100%;
    overflow: hidden;
  }
  .box_form .left img{
    width: 100%; 
  }

  @media (max-width: 980px) {
    .box_form .left img{
        width: 100%; 
      }
  }

  .box_form .right {
    padding: 40px;
    /* overflow: hidden; */
    /* margin: 50px; */
  }
  @media (max-width: 980px) {
    .box_form .right {
      width: 100%;
    }
  }
  .box_form .right h5 {
    font-size: 6vmax;

  }
  .box_form .right p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box_form .right .inputs {
    overflow: hidden;
  }
  .box_form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box_form .right .remember_me_forget_password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box_form .right .remember_me_forget_password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box_form .right button {
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    cursor: pointer;
  }
  
